<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OnTheMap.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D7F8DBC1CFF740000D5C5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D7F8DD01CFF740000D5C5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D7F8DDB1CFF740100D5C5BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
